# Analysis of Automobile Inventory Data

## Copyright (c) 2018, Faststream Technologies
## Author: Sudhanva Narayana

In [109]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import Imputer
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn.metrics import confusion_matrix
# from sklearn.metrics import classification_report

### CURR and PARENT directory constants

In [110]:
CURR_DIR = os.path.dirname(os.path.abspath('__file__'))
PARENT_DIR = os.path.abspath(os.path.join(CURR_DIR, os.pardir))

### Import dataset ignoring headers

In [111]:
df = pd.read_excel(PARENT_DIR + '\\assets\\data\\items_analysis.xlsx', sheet_name='Sheet1')

### Dataset

In [112]:
df.head()

,Item_Number,Make_Or_Buy_Flag,Minimum_Order_Quantity,Standard_Cost,Ordered_Quantity,Month,Request_Date,Cumulative LT
0,066.01.374.1.37,Make,NaN,1027.19182,2,2015-08,2015-08-24 00:00:00,76.986458
1,066.322.002,Buy,5.0,893.80000,2,2015-01,2015-01-23 00:00:00,156.000000
2,066.322.002,Buy,5.0,893.80000,2,2015-01,2014-12-22 15:09:00,156.000000
3,066.322.002,Buy,5.0,893.80000,4,2015-09,2015-09-16 00:00:00,156.000000
4,066.322.002,Buy,5.0,893.80000,2,2015-02,2015-01-28 00:00:00,156.000000

In [113]:
# Convert uppercase to lowercase and replace empty spaces with underscore
df.columns = [i.replace(" ", "_").lower() for i in df.columns]
df.columns

Index(['item_number', 'make_or_buy_flag', 'minimum_order_quantity',
       'standard_cost', 'ordered_quantity', 'month', 'request_date',
       'cumulative_lt'],
      dtype='object')

In [114]:
df[:, 1:3]

TypeError: unhashable type: 'slice'

In [115]:
imputer = Imputer(missing_values='NaN', strategy='mean', axis=1)
imputer = imputer.fit(df)
# df[':, 1:3'] = imputer.transform(df[:, 1:3])

TypeError: float() argument must be a string or a number, not 'Timestamp'

In [90]:
# Convert 'month' and 'reqeust date' to datetime and remove time by normalization
df['month'] = pd.to_datetime(df['month'])
df['request_date'] = (pd.to_datetime(df['request_date'])).dt.normalize()

In [91]:
# Create 'Buy' and 'Make' dataframe and remove 'make_or_buy_flag'
df_buy = df[df['make_or_buy_flag'] == 'Buy'].drop('make_or_buy_flag', axis=1)
df_make = df[df['make_or_buy_flag'] == 'Make'].drop(['make_or_buy_flag', 'minimum_order_quantity'], axis=1)

,item_number,minimum_order_quantity,standard_cost,ordered_quantity,month,request_date,cumulative_lt
1,066.322.002,5.0,893.80000,2,2015-01-01,2015-01-23,156.0
2,066.322.002,5.0,893.80000,2,2015-01-01,2014-12-22,156.0
3,066.322.002,5.0,893.80000,4,2015-09-01,2015-09-16,156.0
4,066.322.002,5.0,893.80000,2,2015-02-01,2015-01-28,156.0
5,066.322.002,5.0,893.80000,2,2015-03-01,2015-03-23,156.0
6,066.322.002,5.0,893.80000,2,2015-12-01,2015-11-30,156.0
7,066.322.002,5.0,893.80000,2,2016-01-01,2016-01-25,156.0
8,066.322.002,5.0,893.80000,1,2016-02-01,2016-02-12,156.0
9,066.322.006,6.0,1384.30000,1,2016-02-01,2016-02-12,126.0
10,066.322.006,6.0,1384.30000,2,2016-07-01,2016-07-15,126.0
11,066.322.006,6.0,1384.30000,4,2017-03-01,2017-03-15,126.0
12,066.322.006,6.0,1384.30000,3,2017-10-01,2017-10-09,126.0
13,066.322.006,6.0,1384.30000,2,2017-09-01,2017-09-13,126.0
14,066.322.006,6.0,1384.30000,2,2017-12-01,2017-12-11,126.0
15,066.322.006,6.0,1384.30000,2,2017-10-01,2017-10-09,126.0
16,066.322.006,6.0,1384.30000,2,2018-01-01,2018-01-22,126.0
17,066.322.006,6.0,1384.30000,6,2018-01-01,2018-01-25,126.0
18,066.385.001,3.0,3052.10900,5,2015-07-01,2015-07-13,156.0
19,066.385.001,3.0,3052.10900,3,2015-05-01,2015-05-20,156.0
20,066.385.001,3.0,3052.10900,3,2017-02-01,2017-02-10,156.0
21,066.385.001,3.0,3052.10900,2,2017-10-01,2018-10-24,156.0
24,066.563.002,15.0,817.08035,3,2016-02-01,2016-02-18,156.0
25,066.565.001,5.0,2720.64000,2,2015-02-01,2015-02-09,156.0
26,066.565.001,5.0,2720.64000,2,2015-04-01,2015-04-08,156.0
27,066.565.001,5.0,2720.64000,3,2015-07-01,2015-07-02,156.0
28,066.565.001,5.0,2720.64000,2,2015-11-01,2015-11-09,156.0
29,066.565.001,5.0,2720.64000,2,2015-12-01,2015-12-17,156.0
30,066.565.001,5.0,2720.64000,3,2015-12-01,2015-12-23,156.0
31,066.565.001,5.0,2720.64000,2,2016-01-01,2016-01-19,156.0
32,066.565.005,6.0,1560.88000,2,2016-12-01,2016-12-08,126.0
...,...,...,...,...,...,...,...
439,942.900.117,3.0,2507.00000,2,2018-02-01,2018-02-07,156.0
440,942.900.118,1.0,4046.95200,2,2017-09-01,2017-09-26,156.0
441,942.900.118,1.0,4046.95200,2,2017-04-01,2017-04-25,156.0
442,942.900.118,1.0,4046.95200,2,2017-08-01,2017-08-14,156.0
443,942.900.118,1.0,4046.95200,2,2018-05-01,2018-05-01,156.0
444,942.900.120,14.0,235.44000,4,2016-10-01,2016-10-11,76.0
445,942.900.121,10.0,508.98640,2,2015-05-01,2015-05-01,76.0
446,942.900.121,10.0,508.98640,1,2017-01-01,2017-01-19,76.0
447,942.900.121,10.0,508.98640,2,2016-12-01,2016-12-06,76.0
448,942.900.121,10.0,508.98640,2,2017-04-01,2017-04-06,76.0
449,942.900.121,10.0,508.98640,2,2017-01-01,2017-01-12,76.0
450,942.900.121,10.0,508.98640,1,2017-08-01,2017-08-17,76.0
451,942.900.121,10.0,508.98640,4,2017-04-01,2017-03-30,76.0
452,942.900.121,10.0,508.98640,2,2017-04-01,2017-04-03,76.0
453,942.900.121,10.0,508.98640,2,2017-08-01,2017-08-21,76.0
454,942.900.121,10.0,508.98640,2,2017-06-01,2017-06-06,76.0
455,942.900.121,10.0,508.98640,2,2017-08-01,2017-08-17,76.0
456,942.900.122,1.0,719.83600,2,2015-10-01,2015-10-26,156.0
457,942.900.122,1.0,719.83600,2,2017-07-01,2017-07-05,156.0
458,942.900.127,3.0,11082.03000,3,2017-05-01,2017-05-11,186.0
459,942.900.127,3.0,11082.03000,3,2017-07-01,2017-06-29,186.0
460,942.900.160,0.0,9526.60000,3,2017-01-01,2017-01-04,0.0
461,942.900.166,0.0,1635.00000,2,2016-12-01,2016-12-06,86.0
462,942.900.166,0.0,1635.00000,1,2017-03-01,2017-03-23,86.0
463,942.900.166,0.0,1635.00000,2,2017-06-01,2017-06-01,86.0
464,942.900.166,0.0,1635.00000,2,2017-06-01,2017-06-06,86.0
465,942.900.166,0.0,1635.00000,2,2017-08-01,2017-07-31,86.0
466,942.900.166,0.0,1635.00000,2,2017-04-01,2017-04-03,86.0
467,942.900.176,1.0,14138.39000,2,2017-11-01,2017-10-31,106.0
468,942.900.177,1.0,2074.27000,2,2017-11-01,2017-10-31,106.0